# Lists

In [1]:
l = [1, 2, 3]

In [2]:
l[1]

2

In [3]:
l1 = ["Jovana", "Luka", "Laura"]
l2 = [2002, 2000, 2000]
l3 = [["Zagreb", 10000], ["Belgrade", 11000]]

In [25]:
l3[0][1]

10000

In [5]:
l4 = l1
l1 = l1 + l2
l4

['Jovana', 'Luka', 'Laura']

In [6]:
len(l)

3

In [7]:
l.append(4)

In [8]:
l

[1, 2, 3, 4]

In [9]:
l.remove(4)

In [10]:
l

[1, 2, 3]

In [11]:
l.pop(2)

3

In [12]:
l

[1, 2]

## ``for`` Loops

In [13]:
for i in range(1, 11, 2):
    print(i, end=" ")

1 3 5 7 9

In [14]:
for item in l:
    print(item)

1
2

In [15]:
duration = [time*60 for time in range(5)]
duration

[0, 60, 120, 180, 240]

## Task 1: Flash vs Internet Explorer
Flash and IE take a 100 m race. Flash travels 1/10 of the remaining distance each second, and IE has a constant speed of 5 meters per second. Print their positions for each second of the race. Print the distance travelled for each second of the race, for both Flash and IE.

# Other Data Structures
## Dictionaries

In [16]:
d = {"Jovana": 2002, "Laura": 2000}
d["Jovana"]

2002

In [17]:
list(d.keys())

['Jovana', 'Laura']

In [18]:
for val in d.values():
    print(val)

2002
2000

In [19]:
d.update({"Luka": 2000})
d

{'Jovana': 2002, 'Laura': 2000, 'Luka': 2000}

## Tuples

# Control Flow
## Branching

In [20]:
from random import randint

In [21]:
pinochio = randint(0, 1)
if pinochio:
    print(pinochio, "Truth!")
else:
    print(pinochio, "Lie!")

0 Lie!

In [22]:
height_limit = 160
height = randint(140, 210)
if height > height_limit:
    print(height, "Good to go!")
elif height == height_limit:
    print(height, "Barely made it...")
else:
    print(height, "Come back in heels.")

153 Come back in heels.

## Conditional Loops

In [23]:
i = 1
while i < 5:
    print(i, end=" ")
    i += 1

1 2 3 4

In [24]:
num = randint(1, 2000)
print(num, end=" -> ")
digit_count = 0
while num > 0:
    digit_count += 1
    num //= 10
print(digit_count, "digits")

1835 -> 4 digits

## Task 2: Flash and Internet Explorer, again
Find the first whole second at which Flash has been overtaken by IE.